@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Asap', sans-serif;
}

.row {
    @apply flex justify-center items-center;
}

.row-h {
    @apply flex justify-center;
}

.row-v {
    @apply flex items-center;
}

.row-end {
    @apply flex justify-end;
}

.col-v {
    @apply flex justify-center flex-col;
}

.col-h {
    @apply flex items-center flex-col;
}

.inline-h {
    @apply inline-flex justify-center;
}

.pointer {
    @apply cursor-pointer;
}

.bg-main {
    background-color: #332532;
}

.t-main {
    font-family: 'Asap', sans-serif;
}

.u {
    @apply uppercase;
}

.bg-logo {
    background-color: #f75239;
}

.bold {
    @apply font-bold;
}

.t-logo,
.hover-logo:hover {
    color: rgba(247, 82, 57, 0.7);
}

.tag-card {
    height: 26rem;
}

.tag-card img {
    height: 22rem;
    width: 17rem;
}

.tag-title {
    width: 70%;
}

.bg-img {
    @apply bg-cover bg-no-repeat bg-center;
}

.text-three-dots-wrapper {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.max-w-fit {
    max-width: fit-content;
}

.venues {
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.scale-x-60 {
    transform: scaleX(0.6);
}

.scale-x-170 {
    transform: scaleX(1.7);
}

.date-options-select span {
    font-size: 0.875rem;
}

@media screen and (max-width: 700px) {
    .date {
        transform: scaleX(0.6);
    }

    .date-options-select button span{
        font-size: 0.625rem;
    }
}

@media screen and (max-width: 450px) {
    .date-options {
        transform: scaleX(1.7);
        @apply origin-left;
    }
}